section {
  height: 500px;
  background-color: white;
  border: black 1px;
}

.bio {
  background-color: black;
  height: 100vh;
  color: aliceblue;
  font-size: 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

li {
  text-decoration: none;
}

h2 {
  font-size: 50px;
}

h1 {
  font-size: 90px;
  margin: 0px;
  font-weight: 400;
}

p {
  margin: 0px;
  font-size: 30px;
  font-weight: 300;
}

.bio-text-area {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.bio-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

.button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: rgb(68, 149, 225);
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: rgb(2, 73, 165);
}

.button:active {
  background-color: rgb(146, 144, 144);
}

.socials {
  padding-bottom: 200px;
}

.about-me-container {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.headshot {
  width: 300px;
  border-radius: 70px;
}

footer {
  height: 200px;
  background-color: whitesmoke;
}
